*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
  height: 100%;
}

.container{
  display: flex;
  height: 100%;
  overflow: hidden;
}
nav{width: 25%;
  background-color: #555;
  height: 100%;
  }

ul {
  list-style-type: none;
  top:0;
  position: sticky;
}

li a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

li a.active{
  background-color: rgb(44, 112, 238);
}

li a:hover:not(.active){
  background-color: #555;
  color: #fff;
}

main{ width: 75%; overflow: auto; height: 100%;  padding: 1em;}

p{margin-top: 1em;}